@import "@radix-ui/colors/violet.css";

.SeparatorRoot {
  /* background-color: var(--violet-6); */
  background-color: rgb(15, 189, 189);
}
.SeparatorRoot[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}

.Text {
  color: #0fbdbd;
  font-size: 18px;
  line-height: 45px;
}
